<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加笔记</title>
</head>
<style>
    .demo {
            margin: 0 auto;
            width: 100%;
            height: 100%;
            position: absolute;
        background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
        text-align: center;
        font-size: 20px;
        }
    a:hover{
        color:red;
        font-size: 15px;
    }
</style>
<body>
<div class="demo">
    <form action="/duty/{{ username }}/add" method="post" >
    <div >
        <p>
        客流量:<input type="text" name="flow" >
    </p>

    <p>准点率：<input type="text"  name="rate"></input>
    </p>

     <p>
        车辆情况：<textarea cols="20" rows="3" name="condition"></textarea>
    </p>

      <p>
        员工考勤：<input type="text" name="attendance"></input>
    </p>

     <p>
        紧急情况：<textarea cols="20" rows="3" name="emergency"></textarea>
    </p>

     <p>
        环境整洁和设施维护：<textarea cols="20" rows="3" name="clear"></textarea>
    </p>

        <p>
        领导检查：<textarea cols="20" rows="3" name="response" disabled>{{ response }}</textarea>
    </p>
    <p>
        <input type="submit" value="保存">
    </p>


    <p>
        <a href="/duty/{{ username }}/all">返回列表页</a>
    </p>
    </div>
</form>
</div>

</body>
</html>